{% extends 'base.html' %}

{% block pageId %}index{% endblock %}

{% block meta %}
<style>
    :root {
        --ngram-color-1: #00FF00;
        --ngram-color-2: #0000FF;
        --ngram-color-3: #FF0000;
        --ngram-color-4: #01FFFE;
        --ngram-color-5: #FFA6FE;
    }

    .ngram-link {
        border-bottom-width: 2px;
        border-bottom-style: solid;
        cursor: pointer;
    }

    .ngram-link-1 {
        padding-bottom: 0;
        border-bottom-color: var(--ngram-color-1);
    }
    .ngram-link-2 {
        padding-bottom: 3px;
        border-bottom-color: var(--ngram-color-2);
    }
    .ngram-link-3 {
        padding-bottom: 6px;
        border-bottom-color: var(--ngram-color-3);
    }
    .ngram-link-4 {
        padding-bottom: 9px;
        border-bottom-color: var(--ngram-color-4);
    }
    .ngram-link-5 {
        padding-bottom: 12px;
        border-bottom-color: var(--ngram-color-5);
    }

    .popover {
        max-width: none;
    }

    .ngram-popover-1 {
        border-color: var(--ngram-color-1);
    }

    .ngram-popover-2 {
        border-color: var(--ngram-color-2);
    }

    .ngram-popover-3 {
        border-color: var(--ngram-color-3);
    }

    .ngram-popover-4 {
        border-color: var(--ngram-color-4);
    }

    .ngram-popover-5 {
        border-color: var(--ngram-color-5);
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-9">
          <article style="line-height:{{config.get('MAX_NGRAMS')*5 + 5}}px;"></article>
      </div>
      <div class="col">
          <div class="position-fixed">
              <form class="mb-3" id="search-form">
                  <div class="row">
                      <div class="col-8">
                        <input class="form-control me-2" type="search" placeholder="Search" name="title">
                      </div>
                      <div class="col">
                          <button class="btn btn-outline-success" type="submit">Search</button>
                      </div>
                  </div>
              </form>
              <form class="mb-3" id="algorithm-form">
                <div class="row mb-2">
                    <div class="col-7">
                        <select class="form-select" name="algorithm">
                          <option value="" {{ 'selected' if algorithm['algorithm'] == '' }}>Select algorithm</option>
                          <option value="exact" {{ 'selected' if algorithm['algorithm'] == 'exact' }}>Exact match</option>
                        </select>
                    </div>
                    <div class="col">
                        <button class="btn btn-outline-success" type="submit">Get Labels</button>
                    </div>
                </div>
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="skipstopwords" value="1"
                         id="algorithm-selector-skipstopwords" {{ 'checked' if 'skipstopwords' in algorithm }}>
                  <label class="form-check-label" for="algorithm-selector-skipstopwords">
                    Skip stop words
                  </label>
              </div>
              </form>
              <div class="mb-3" id="ngramsDisplay">
                  {% for ngram in range(1, config['MAX_NGRAMS']+1) %}
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="{{ngram}}" id="ngram-check-{{ngram}}" checked>
                          <label class="form-check-label" for="ngram-check-{{ngram}}" style="border-bottom: 2px solid var(--ngram-color-{{ngram}});">
                            {{ngram}}-grams
                          </label>
                      </div>
                  {% endfor %}
              </div>
<!--              <h2>Your decisions</h2>-->
<!--              <div id="decisionsList">-->
<!--              </div>-->
              <button class="btn btn-outline-success">Save decisions</button>
          </div>
      </div>
    </div>
</div>
{% endblock %}