{% extends 'base.html' %}
{% set active_page = "index" %}

{% block meta %}
<style>
    :root {
        --ngram-color-1: rgb(0, 255, 0);
        --ngram-color-2: rgb(0, 0, 255);
        --ngram-color-3: rgb(255, 0, 0);
        --ngram-color-4: rgb(1, 255, 254);
        --ngram-color-5: rgb(255, 166, 254);
    }

    .ngram-link {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        cursor: pointer;
    }

    .ngram-link.ngram-link-resolved {
        border-bottom-width: 3px;
    }

    .ngram-link.ngram-link-resolved.ngram-link-none {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
    }

    .ngram-link.ngram-link-covered {
        border-bottom-width: 2px;
        border-bottom-style: dotted;
    }

    .ngram-link-1 {
        padding-bottom: 0;
        border-bottom-color: var(--ngram-color-1);
    }
    .ngram-link-2 {
        padding-bottom: 3px;
        border-bottom-color: var(--ngram-color-2);
    }
    .ngram-link-3 {
        padding-bottom: 6px;
        border-bottom-color: var(--ngram-color-3);
    }
    .ngram-link-4 {
        padding-bottom: 9px;
        border-bottom-color: var(--ngram-color-4);
    }
    .ngram-link-5 {
        padding-bottom: 12px;
        border-bottom-color: var(--ngram-color-5);
    }

    .popover {
        max-width: none;
    }

    .ngram-tab {
        border-bottom: 1px solid;
    }

    .ngram-tab-1 {
        border-bottom-color: var(--ngram-color-1);
    }

    .ngram-tab-2 {
        border-bottom-color: var(--ngram-color-2);
    }

    .ngram-tab-3 {
        border-bottom-color: var(--ngram-color-3);
    }

    .ngram-tab-4 {
        border-bottom-color: var(--ngram-color-4);
    }

    .ngram-tab-5 {
        border-bottom-color: var(--ngram-color-5);
    }

    .wikipedia-link-red {
        background-color: rgba(255,0,0,0.3);
    }

    .wikipedia-link-blue {
        background-color: rgba(0,0,255,0.3);
    }

    #article-header {
        font-size: 1.5rem;
    }

    #article-metadata {
        font-weight:normal;
        font-size: 1rem;
        color:#6c757d;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-9">
          <h1 id="article-header"></h1>
          <h2 id="article-metadata"></h2>
          <article style="line-height:{{config.get('MAX_NGRAMS')*5 + 5}}px;"></article>
      </div>
      <div class="col">
          <div>
              <form class="mb-4" id="search-form">
                  <div class="mb-2">
                      <h5><label for="article_source" class="col-form-label">Source</label></h5>
                      <select class="form-select form-select-sm" name="article_source" id="article_source">
                        {% for dump in dumps %}
                          <option value="{{ dump['id'] }}">
                            {{ dump['name'] }} | {{ dump['timestamp'] }}
                          </option>
                        {% endfor %}
                      </select>
                </div>
                  <div class="row mb-2">
                        <div class="col-auto">
                          <label for="ground_truth" class="col-form-label">Ground truth</label>
                        </div>
                        <div class="col-auto">
                          <select class="form-select form-select-sm" name="ground_truth" id="ground_truth">
                            {% for ground_truth in ground_truths %}
                              <option value="{{ ground_truth['id'] }}" data-dump-id="{{ ground_truth['dump_id']}}">
                                {{ ground_truth['description'] }}
                              </option>
                            {% endfor %}
                          </select>
                          <div class="invalid-feedback"></div>
                        </div>
                  </div>
                <div class="row mb-2">
                    <div class="col-auto">
                      <label for="title" class="col-form-label">Title</label>
                    </div>
                    <div class="col-auto">
                      <input class="form-control" name="title" id="title">
                      <div class="invalid-feedback"></div>
                    </div>
              </div>
              <div class="row mb-2">
                    <div class="col-auto">
                      <label for="metadata" class="col-form-label">Metadata</label>
                    </div>
                    <div class="col-auto">
                      <input class="form-control" name="metadata" id="metadata">
                      <div class="invalid-feedback"></div>
                    </div>
              </div>
              <button class="btn btn-outline-success" name="action" value="title" type="submit">Search by title</button>
              <button class="btn btn-outline-success" name="action" value="metadata" type="submit">Search by metadata</button>
              </form>
              <form class="mb-4" id="algorithm-form">
                  <fieldset class="mb-4">
                    <h5>Entity retrieval</h5>
                      <div class="row mb-2">
                        <div class="col-auto">
                          <label for="paragraphs_limit" class="col-form-label">Paragraphs limit</label>
                        </div>
                        <div class="col-auto">
                          <input type="number" min="1" style="width: 5em" class="form-control"
                                 name="paragraphs_limit" id="paragraphs_limit" value="{{ algorithm['paragraphs_limit'] }}">
                          <div class="invalid-feedback"></div>
                          </div>
                        </div>
                    <div class="row mb-2">
                        <div class="col-auto">
                            <label for="retrieval" class="col-form-label">Algorithm</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select" name="retrieval" id="retrieval">
                              <option value="" {{ 'selected' if algorithm['retrieval'] == '' }}></option>
                              <option value="exact" {{ 'selected' if algorithm['retrieval'] == 'exact' }}>n-grams exact</option>
                            </select>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-auto">
                            <label for="skip_stop_words" class="col-form-label">Skip stop words</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select" name="skip_stop_words" id="skip_stop_words">
                              <option value="0" {{ 'selected' if algorithm['skip_stop_words'] == False }}>No</option>
                              <option value="1" {{ 'selected' if algorithm['skip_stop_words'] == True }}>Yes</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-auto">
                            <label for="rate_keywords_by" class="col-form-label">Rate keywords by</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select" name="rate_keywords_by" id="rate_keywords_by">
                              <option value="" {{ 'selected' if algorithm['rate_keywords_by'] == '' }}>none</option>
                              <option value="keyphraseness" {{ 'selected' if algorithm['rate_keywords_by'] == 'keyphraseness' }}>keyphraseness</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-auto">
                          <label for="links_to_text_ratio" class="col-form-label">Links to text ratio</label>
                        </div>
                        <div class="col-auto">
                          <input type="number" step="0.01" min="0" max="1" style="width: 5em" class="form-control"
                                 name="links_to_text_ratio" id="links_to_text_ratio" value="{{ algorithm['links_to_text_ratio'] }}">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-auto">
                          <label for="min_label_count" class="col-form-label">Min. label count</label>
                        </div>
                        <div class="col-auto">
                          <input type="number" min="1" style="width: 5em" class="form-control"
                                 name="min_label_count" id="min_label_count" value="{{ algorithm['min_label_count'] }}">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-auto">
                          <label for="min_label_articles_count" class="col-form-label"  title="<p>Minimal Label-Articles Counter</p><p>The minimal value of label-articles counter for the returned articles.</p>" data-bs-toggle="tooltip">Min. L-A count</label>
                        </div>
                        <div class="col-auto">
                          <input type="number" min="1" style="width: 5em" class="form-control"
                                 name="min_label_articles_count" id="min_label_articles_count" value="{{ algorithm['min_label_articles_count'] }}">
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-auto">
                          <label for="min_keyphraseness" class="col-form-label">Min. keyphraseness</label>
                        </div>
                        <div class="col-auto">
                          <input type="number" step="0.01" min="0" max="1" style="width: 5em" class="form-control"
                                 name="min_keyphraseness" id="min_keyphraseness" value="{{ algorithm['min_keyphraseness'] }}">
                        </div>
                    </div>
                </fieldset>
                <fieldset class="mb-2">
                    <h5>Entity disambiguation</h5>
                    <div class="row mb-2">
                        <div class="col-auto">
                                <label for="disambiguation" class="col-form-label">Algorithm</label>
                        </div>
                        <div class="col-auto">
                            <select class="form-select" name="disambiguation" id="disambiguation">
                              <option value="" {{ 'selected' if algorithm['disambiguation'] == '' }}></option>
                              <option value="commonness" {{ 'selected' if algorithm['disambiguation'] == 'commonness' }}>Commonness</option>
                              <option value="la_commonness" {{ 'selected' if algorithm['disambiguation'] == 'la_commonness' }}>L-A Commonness</option>
                              <option value="topic_proximity" {{ 'selected' if algorithm['disambiguation'] == 'topic_proximity' }}>Topic Proximity</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-auto">
                          <label for="max_context_terms" class="col-form-label">Max. context terms</label>
                        </div>
                        <div class="col-auto">
                          <input type="number" min="1" style="width: 5em" class="form-control"
                                 name="max_context_terms" id="max_context_terms" value="{{ algorithm['max_context_terms'] }}">
                        </div>
                    </div>
                </fieldset>
                <button class="btn btn-outline-success" type="submit">Load entities</button>
              </form>
              <div class="mb-3" id="ngramsDisplay">
                  {% for ngram in range(1, config['MAX_NGRAMS']+1) %}
                      <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="{{ngram}}" id="ngram-check-{{ngram}}" checked>
                          <label class="form-check-label" for="ngram-check-{{ngram}}" style="border-bottom: 2px solid var(--ngram-color-{{ngram}});">
                            {{ngram}}-grams
                          </label>
                      </div>
                  {% endfor %}
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}