{% extends 'base.html' %}
{% set active_page = "admin_config" %}

{% block content %}
<div class="container">
<form method="post">
  <div class="mb-3">
    <label for="currentdump" class="form-label">Current dump</label>
    <select class="form-select" name="currentdump" id="currentdump">
      {% for dump in all_dumps %}
        <option value="{{ dump['id'] }}" {% if dbconfig['currentdump'] == dump['id'] %} selected {% endif %}>
          {{ dump['lang'] }}wiki-{{ dump['date'] }} {{ dump['parser_name'] }} {{ dump['parser_version'] }} loaded on: {{ dump['timestamp'] }}
        </option>
      {% endfor %}
    </select>
    <div id="currentdumpHelp" class="form-text">Wikipedia dump used during article search.</div>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
{% endblock %}