{% extends 'base.html' %}
{% set active_page = "admin.redis" %}

{% block content %}
<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>Dump</th>
            <th>Cached labels</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for dump in dumps %}
        <tbody data-dump-id="{{ dump['id'] }}">
            <tr>
                <td>{{ dump['lang'] }}wiki-{{ dump['date'] }} | {{ dump['timestamp'] }}</td>
                <td><span class="cached-labels">{{ dump['cached_labels'] }}</span>/<span class="total-labels">{{ dump['labels_count'] }}</span></td>
                <td>
                    <a href="#" class="btn btn-outline-success me-4 btn-cache-labels" role="button">Cache labels</a>
                    <a href="{{ url_for('.redis_flush_labels', dump_id=dump['id']) }}" class="btn btn-outline-danger" role="button">Flush labels</a>
                </td>
            </tr>
            <tr class="progress-bar-row" style="display:none;">
                <td colspan="3">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 0%"></div>
                    </div>
                </td>
            </tr>
        </tbody>
    {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}