<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap-5.0.2-dist/css/bootstrap.min.css') }}" rel="stylesheet">

    {% block meta %}{% endblock %}

    <title>{% block title %}{% endblock %} - Wikigold</title>
  </head>
  <body id="{% block pageId %}{% endblock %}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">Wikigold</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% if g.username %}
              <span class="navbar-text">{{ g.username }}</span>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('auth.logout') }}">Log Out</a>
              </li>
            {% else %}
              <a class="nav-link active" aria-current="page" href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script>
      window.addEventListener('load', (event) => {
        let baseURL = {{config.get('BASEURL')|tojson}};
        let maxNgrams = {{config.get('MAX_NGRAMS')|tojson}};
        if (!baseURL) {
          baseURL = window.location.origin;
        }
        const app = new App(baseURL, maxNgrams);
        const currentPageId = document.querySelector("body").id;
        if (typeof app[currentPageId] === "function") {
            app[currentPageId]();
        }
      });
    </script>
  </body>
</html>
