{% extends 'base.html' %}

{% block pageId %}login{% endblock %}

{% block content %}
<div class="container">
  <form method="post">
    <div class="mb-3">
      <label for="username" class="form-label">User Name</label>
      <input type="text" class="form-control" id="username" name="username" value="{{ request.form['username'] }}">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" value="{{ request.form['password'] }}">
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Login</button>
    <p class="small fw-bold mt-2">Don't have an account? <a href="{{ url_for('auth.register') }}" class="link-danger">Register</a></p>
  </form>
</div>
{% endblock %}